.img-fondo{
	background-image: url('../images/pan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	padding-top: 50em !important;
	height: 300em;

}
i{
	margin-left: 20px;
}
.black{
	color:rgba(0,0,0,.5);
}
.letra{
	color:gray;
}
.mt-40{
	margin-top: 40px;
}
img{
	width: 100%;
	margin-bottom:40px!important; 
}
.borde{
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	background-color:#E6E6E6; 
}
.bordee{
	background-color: #F2F2F2;
	padding-top: 20px;

}
button{
	border-radius: 20px;
	border-style:1px solid #0000FF !important;
	background-color: transparent;
	width: 150px;
	padding: 5px;
	color: #0000FF;
}
.colr{
	background-color:#2E64FE;
	color: white; 
}
.dividir{
	border-top: 1px solid gray;
	border-left:1px solid gray;  
}
p{
	color: #585858;
}
h3{
	color: #585858;
}
h4{
	color: #585858;
}
h5{
	color: #1C1C1C;
}